<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<aop:aspectj-autoproxy/>
	<context:annotation-config/>
	<context:component-scan base-package="com.zhy.service.impl, com.zhy.dao.impl"/>

	<bean id="serviceProxy" class="com.zhy.service.proxy.ServiceProxy"/>
	<bean id="messageServiceImpl" class="com.zhy.service.impl.MessageServiceImpl"/>
	<!--<aop:config>-->
		<!--&lt;!&ndash;*描述的是该方法的返回值，如果为*：表示的任意的数据类型&ndash;&gt;-->
		<!--&lt;!&ndash;com.zhy.service..描述的是要切入点匹配的包名称&ndash;&gt;-->
		<!--&lt;!&ndash;*.*描述的是类中所有的方法，格式"类.方法"&ndash;&gt;-->
		<!--&lt;!&ndash;(..)描述的是参数&ndash;&gt;-->
		<!--<aop:pointcut id="defaultPointCut" expression="execution(* com.zhy.service..*.*(..))"/>-->
		<!--&lt;!&ndash;定义好切入点之后实际上就表示已经可以将具体的方法操作定位到某些业务层的方法上了，那么随后还需要对其进行方法的调用配置&ndash;&gt;-->
		<!--<aop:aspect ref="serviceProxy">-->
			<!--<aop:before method="beforeInvoke" pointcut-ref="defaultPointCut"/>-->
			<!--<aop:after method="afterInvoke" pointcut-ref="defaultPointCut"/>-->
			<!--<aop:after-returning method="returnInvoke" pointcut="execution(* com.zhy.service..*.*(..))" returning="val" arg-names="val"/>-->
			<!--<aop:after-throwing method="throwInvoke"  pointcut="execution(* com.zhy.service..*.*(..))" throwing="e" arg-names="e"/>-->
		<!--</aop:aspect>-->
	<!--</aop:config>-->


	<!--<bean id="msg" class="com.zhy.service.impl.MessageServiceImpl"/>-->
	<!--<bean id="emp" class="com.zhy.vo.Emp">-->
		<!--<property name="empno" value="73690"/>-->
		<!--<property name="ename" value="zhy"/>-->
		<!--&lt;!&ndash;<property name="dept" ref="d"/>&ndash;&gt;-->
	<!--</bean>-->
	<!--第一种配置List集合-->
	<!--<bean id="dept" class="com.zhy.vo.Dept">-->
		<!--<property name="deptno" value="10"/>-->
		<!--<property name="dname" value="开发部"/>-->
		<!--<property name="loc" value="北京"/>-->
		<!--<property name="groups">-->
			<!--<array value-type="java.lang.String">-->
				<!--<value>ERP项目组</value>-->
				<!--<value>CRM项目组</value>-->
			<!--</array>-->
		<!--</property>-->
  	<!--</bean>-->

	<!--第二种配置list集合-->
	<!--Spring 把数组和list作为相等的对待-->
	<!--<bean id="dept" class="com.zhy.vo.Dept">-->
		<!--<property name="deptno" value="10"/>-->
		<!--<property name="dname" value="开发部"/>-->
		<!--<property name="loc" value="北京"/>-->
		<!--<property name="groups">-->
			<!--<list value-type="java.lang.String">-->
				<!--<value>ERP项目组</value>-->
				<!--<value>CRM项目组</value>-->
			<!--</list>-->
		<!--</property>-->
		<!--<property name="testMap" >-->
			<!--<map>-->
				<!--<entry key="110" value="ERP项目组"/>-->
				<!--<entry key="120" value="CRM项目组"/>-->
			<!--</map>-->
		<!--</property>-->

		<!--<property name="testProperties">-->
			<!--<props>-->
				<!--<prop key="110">ERP项目组</prop>-->
				<!--<prop key="120">CRM项目组</prop>-->
			<!--</props>-->
		<!--</property>-->

		<!--<property name="testEmps">-->
			<!--<list>-->
				<!--&lt;!&ndash;表示引用一个其他定义的bean&ndash;&gt;-->
				<!--&lt;!&ndash;<ref bean="emp"/>&ndash;&gt;-->
				<!--&lt;!&ndash;描述的是一个内部的Bean，这个Bean只能够被这个Dept类定义使用&ndash;&gt;-->
				<!--<bean class="com.zhy.vo.Emp">-->
					<!--<property name="empno" value="7566"/>-->
					<!--<property name="ename" value="cql"/>-->
					<!--<property name="sal" value="2400"/>-->
 				<!--</bean>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->



	<!--p命名空间-->
	<!--<bean id="dept" class="com.zhy.vo.Dept" p:deptno="10" p:dname="开发部" p:loc="北京"></bean>-->




</beans>